---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
  namespace: default
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: vaultwarden
  values:
    controllers:
      vaultwarden:
        type: deployment

        strategy: Recreate

        annotations:
          secret.reloader.stakater.com/reload: "auto"

        containers:
          main:
            image:
              repository: vaultwarden/server
              tag: 1.35.1
              pullPolicy: IfNotPresent

            envFrom:
              - secretRef:
                  name: vaultwarden-secret
              - secretRef:
                  name: vaultwarden-db-secret

            env:
              TZ: Europe/Warsaw
              WEBSOCKET_ADDRESS: 0.0.0.0
              WEBSOCKET_ENABLED: "true"
              DATA_FOLDER: config
              DOMAIN: https://passwords.pospiech.dev

              SMTP_FROM_NAME: Passwords
              SMTP_SECURITY: starttls

              SIGNUPS_ALLOWED: "false"

    service:
      main:
        controller: vaultwarden
        ports:
          http:
            port: &port 80

    route:
      main:
        annotations:
          hajimari.io/icon: shield-key
        hostnames:
          - "passwords.pospiech.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: main
                port: *port

    persistence:
      config:
        existingClaim: vaultwarden
