---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app opengist
spec:
  chartRef:
    kind: OCIRepository
    name: opengist
  interval: 15m
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  driftDetection:
    mode: enabled
    ignore:
      - paths:
          - /spec/containers/resources/limits
        target:
          kind: Pod
  values:
    controllers:
      opengist:
        annotations:
          reloader.stakater.com/search: "true"
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/thomiceli/opengist
              tag: 1.12.0@sha256:ac068eb38e433ddfbd49113db1a15e8cdecd0560c3b6893b4211f804df56e7a9
            command: # double "$$" escape flux substitutions
              - ./opengist
            # args:
            #   - --config
            #   - /mnt/config.yml
            env:
              OG_LOG_LEVEL: warn
              OG_LOG_OUTPUT: stdout
              OG_OIDC_DISCOVERY_URL: https://auth.pospiech.dev/application/o/opengist/.well-known/openid-configuration
              OG_EXTERNAL_URL: https://opengist.pospiech.dev
              OG_OPENGIST_HOME: /mnt/opengist/
              OG_DB_FILENAME: opengist.db
              OG_INDEX_DIRNAME: opengist.index
              OG_GIT_DEFAULT_BRANCH: main
              OG_SSH_GIT_ENABLED: false
            envFrom:
              - secretRef:
                  name: opengist-secret

            resources:
              requests:
                cpu: 100m
                memory: 52M
              limits:
                memory: 256M
            securityContext:
              allowPrivilegeEscalation: false
              # readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}

    defaultPodOptions:
      securityContext:
        # runAsGroup: 65534
        # runAsUser: 65534
        # runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 6157
            # ssh:
            #   port: 2222

    route:
      app:
        hostnames:
          - "opengist.pospiech.dev"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

      ### sni routing for ssh?
      ### ref: https://github.com/brettinternet/homelab/tree/176df6db10916d8df6d7309742b171a23c414119/cluster/apps/auth
      # ssh:
      #   enabled: true
      #   ingressClassName: internal
      #   annotations:
      #     nginx.ingress.kubernetes.io/whitelist-source-range: |
      #       10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
      #   hosts:
      #     - host: &host "opengist.pospiech.dev"
      #       paths:
      #         - path: /
      #           pathType: Prefix
      #   tls:
      #     - hosts:
      #         - *host

    persistence:
      config:
        type: configMap
        name: *app
        globalMounts:
          - subPath: config.yml
            path: /mnt/config.yml
        defaultMode: 0775
      data:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /mnt/opengist
