---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name inzosoft-amd64
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: gha-runner-scale-set
  values:
    githubConfigUrl: https://github.com/inzosoft
    githubConfigSecret: inzosoft-amd64-secret
    minRunners: 0
    maxRunners: 4
    containerMode:
      type: kubernetes
      kubernetesModeWorkVolumeClaim:
        accessModes:
          - "ReadWriteOnce"
        storageClassName: openebs-hostpath
        resources:
          requests:
            storage: 25Gi
    controllerServiceAccount:
      name: actions-runner-controller
      namespace: actions-runner-system
    template:
      spec:
        initContainers:
          - name: dind
            image: docker:27-dind
            restartPolicy: Always
            args:
              - dockerd
              - --host=unix:///var/run/docker.sock
              - --group=$(DOCKER_GROUP_GID)
            env:
              - name: DOCKER_TLS_CERTDIR
                value: ""
              - name: DOCKER_GROUP_GID
                value: "123"
            securityContext:
              privileged: true
            volumeMounts:
              - mountPath: /var/run
                name: docker-sock
              - mountPath: /var/lib/docker
                name: docker-storage
        containers:
          - name: runner
            image: ghcr.io/home-operations/actions-runner:2.330.0@sha256:92a45e47f4b349f4da2307ebaaea5443cc86d1ce625d37acf2c61b3b09192e47
            command:
              - "/home/runner/run.sh"
            securityContext:
              supplementalGroups:
                - 123
            env:
              - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
                value: "false"
              - name: DOCKER_HOST
                value: "unix:///var/run/docker.sock"
              - name: RUNNER_WAIT_FOR_DOCKER_IN_SECONDS
                value: "120"
              - name: NODE
                valueFrom:
                  fieldRef:
                    fieldPath: status.hostIP
            volumeMounts:
              - mountPath: /var/run
                name: docker-sock
        serviceAccountName: *name
        volumes:
          - name: docker-sock
            emptyDir: {}
          - name: docker-storage
            emptyDir: {}
