---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: download

components:
  - ../../components/alerts
  - ../../components/registry-creds

resources:
  - ./autobrr/ks.yaml
  - ./cross-seed/ks.yaml
  - ./flarebypasser/ks.yaml
  - ./flaresolverr/ks.yaml
  - ./metube/ks.yaml
  - ./namespace.yaml
  - ./pinchflat/ks.yaml
  - ./prowlarr/ks.yaml
  - ./qbittorrent/ks.yaml
  - ./qui/ks.yaml
  - ./sabnzbd/ks.yaml
  - ./tqm/ks.yaml
  - ./whisparr/ks.yaml
  - ./yt-downloader/ks.yaml
