---
# yamllint disable-line rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app shlink-api
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: shlink-api
  values:
    controllers:
      main:
        replicas: 1
        annotations:
          secret.reloader.stakater.com/reload: shlink-secret,shlink-db-secret

        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app

        containers:
          main:
            image:
              repository: ghcr.io/shlinkio/shlink
              # yamllint disable-line rule:line-length
              tag: 5.0.0@sha256:5bbedb6913b951f23428a61b581e7a22e33bdda0446455dfb4a598e57f15ff73
            env:
              DB_DRIVER: postgres
              DEFAULT_DOMAIN: &host "ln.pospiech.dev"
              DISABLE_TRACKING_FROM: 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
              ENABLE_PERIODIC_VISIT_LOCATE: "true"
              IS_HTTPS_ENABLED: "true"
              PORT: &port 8080
              TIMEZONE: "Europe/Warsaw"
            envFrom:
              - secretRef:
                  name: shlink-secret
              - secretRef:
                  name: shlink-db-secret

    service:
      main:
        controller: main
        ports:
          http:
            port: *port

    route:
      main:
        annotations:
          gatus.home-operations.com/endpoint: |-
            url: https://ln.pospiech.dev/AtAO0
        hostnames:
          - *host
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *port
