---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gitea
spec:
  interval: 1m
  chart:
    spec:
      # renovate: registryUrl=https://dl.gitea.io/charts/
      chart: gitea
      version: 12.0.0
      sourceRef:
        kind: HelmRepository
        name: gitea
      interval: 1m
  values:
    global:
      imageRegistry: docker.io

    replicaCount: 1
    fullnameOverride: gitea

    postgresql-ha:
      enabled: false

    redis-cluster:
      enabled: false

    valkey-cluster:
      enabled: false

    statefulset:
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: gitea/gitea
      tag: 1.25.3
      rootless: false

    containerSecurityContext:
      capabilities:
        add:
          - "SYS_CHROOT"

    service:
      ssh:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: git.pospiech.dev
          gatus.home-operations.com/endpoint: |-
            group: services
          lbipam.cilium.io/ips: 10.0.42.106
        type: LoadBalancer
        externalTrafficPolicy: Local

    persistence:
      enabled: true
      mount: true
      create: false
      # claimName: data-gitea-0
      claimName: gitea
      size: 100Gi
      accessModes:
        - ReadWriteMany
      storageClass: ceph-filesystem

    postgresql:
      enabled: false

    signing:
      enabled: false
      gpgHome: /data/git/.gnupg

    memcached:
      enabled: false

    gitea:
      config:
        APP_NAME: "Gitea: Personal Git instance"
        cache:
          ENABLED: true
          ADAPTER: redis
          # yamllint disable-line rule:line-length
          HOST: redis://dragonfly.database.svc.cluster.local:6379/8?pool_size=100&idle_timeout=180s

        session:
          PROVIDER: redis
          # yamllint disable-line rule:line-length
          PROVIDER_CONFIG: redis://dragonfly.database.svc.cluster.local:6379/8?pool_size=100&idle_timeout=180s

        queue:
          TYPE: redis
          # yamllint disable-line rule:line-length
          CONN_STR: redis://dragonfly.database.svc.cluster.local:6379/8?pool_size=100&idle_timeout=180s

        database:
          LOG_SQL: false
          DB_TYPE: postgres

        mailer:
          ENABLED: true
          PROTOCOL: smtp
          FROM: "Gitea <gitea@pospiech.dev>"
          SMTP_ADDR: smtp-relay.default.svc.cluster.local
          SMTP_PORT: 25
        service:
          REGISTER_EMAIL_CONFIRM: false
          ENABLE_NOTIFY_MAIL: true
          DISABLE_REGISTRATION: false
          ALLOW_ONLY_EXTERNAL_REGISTRATION: true
          ENABLE_CAPTCHA: true
          REQUIRE_SIGNIN_VIEW: true
          DEFAULT_KEEP_EMAIL_PRIVATE: true
          DEFAULT_ALLOW_CREATE_ORGANIZATION: true
          DEFAULT_ENABLE_TIMETRACKING: true
          NO_REPLY_ADDRESS: gitea@pospiech.dev
          SHOW_REGISTRATION_BUTTON: false

        server:
          ROOT_URL: https://gitea.pospiech.dev
          PROTOCOL: http
          HTTP_PORT: 3000
          ENABLE_ACME: false
          SSH_DOMAIN: git.pospiech.dev

        repository:
          DEFAULT_BRANCH: main
          DEFAULT_PRIVATE: true

        openid:
          ENABLE_OPENID_SIGNIN: false
          ENABLE_OPENID_SIGNUP: true
          OPENID_CONNECT_SCOPES: email profile groups
          WHITELISTED_URIS: auth.pospiech.dev

        webhook:
          ALLOWED_HOST_LIST: "*.pospiech.dev"

        other:
          SHOW_FOOTER_TEMPLATE_LOAD_TIME: false

      # https://docs.gitea.com/administration/command-line?_highlight=gitea&_highlight=admin&_highlight=auth&_highlight=add&_highlight=oauth#admin
      # add-oauth section
      oauth:
        - name: Authentik
          existingSecret: gitea-oauth
          provider: openidConnect
          # yamllint disable-line rule:line-length
          autoDiscoverUrl: https://auth.pospiech.dev/application/o/gitea/.well-known/openid-configuration
          groupClaimName: groups
          adminGroup: gitea_admins
          restrictedGroup: gitea_users
          scopes: "email profile groups"
          iconUrl: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/authentik.png
      admin:
        existingSecret: gitea-admin-secret

      additionalConfigSources:
        - secret:
            secretName: gitea-db-secret
