---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app excalidraw
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: excalidraw
  values:
    controllers:
      excalidraw:
        replicas: 2
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/haraldkoch/excalidraw
              tag: latest@sha256:b5598b06805ed9de42366c5306f19a88874cbf8b0d4966f64275cd2c71ef094a
              pullPolicy: IfNotPresent
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 5m
                memory: 10Mi
              limits:
                memory: 50Mi
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
    service:
      app:
        controller: excalidraw
        ports:
          http:
            port: 80
    route:
      app:
        hostnames:
          - "draw.pospiech.dev"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
