---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-api
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: home-api
  values:
    global:
      fullnameOverride: *app
    controllers:
      home-api:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          nodeSelector:
            kubernetes.io/arch: amd64
          imagePullSecrets:
            - name: zot-credentials
          annotations:
            secret.reloader.stakater.com/reload: "auto"
        containers:
          main:
            image:
              repository: registry.pospiech.dev/home/api
              tag: RELEASE.2026-02-12T09-08-12Z
              pullPolicy: Always
            env:
              SERVER_PORT: 42000
              TZ: Europe/Warsaw
            envFrom:
              - secretRef:
                  name: home-api-secret
              - secretRef:
                  name: home-api-db

    service:
      home-api:
        enabled: true
        controller: *app

        ports:
          http:
            port: &port 42000

    route:
      main:
        annotations:
          gatus.home-operations.com/endpoint: |-
            url: https://home-api.pospiech.dev/health
        hostnames:
          - "home-api.pospiech.dev"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: home-api
                port: *port
