---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app listmonk
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: listmonk
  values:
    fullnameOverride: *app
    controllers:
      listmonk:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/knadh/listmonk
              tag: v5.1.0
            command:
              - /bin/sh
              - -c
              - ./listmonk --install --idempotent --yes --config '' && ./listmonk --upgrade --yes --config '' && ./listmonk --config ''
            env:
              TZ: Europe/Warsaw
              LISTMONK_app__address: 0.0.0.0:9000
              LISTMONK_db__ssl_mode: disable
              LISTMONK_db__max_open: 25
              LISTMONK_db__max_idle: 25
              LISTMONK_db__max_lifetime: 300s
            envFrom:
              - secretRef:
                  name: listmonk-secret
              - secretRef:
                  name: listmonk-db-secret
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 9000
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probe
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1025
        runAsGroup: 1025
        fsGroup: 1025
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: {type: RuntimeDefault}

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - "listmonk.pospiech.dev"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      uploads:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 20Gi
        globalMounts:
          - path: /listmonk/uploads
