---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app shlink-web
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: shlink-web
  values:
    controllers:
      main:
        replicas: 1
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 2
          surge: 0
        annotations:
          secret.reloader.stakater.com/reload: shlink-secret
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
        containers:
          main:
            image:
              repository: ghcr.io/shlinkio/shlink-web-client
              tag: 4.7.0@sha256:80b4d00c445f61e38164a4f13bea4f915b0bdc051e74705fe21ffa92a3d6fed5
            env:
              SHLINK_SERVER_URL: "https://ln.pospiech.dev"
            envFrom:
              - secretRef:
                  name: shlink-secret
    service:
      main:
        controller: main
        ports:
          http:
            port: &port 8080

    route:
      main:
        hostnames:
          - "shlink.pospiech.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: main
                port: *port
